@mixin flex($direction: row, $justify: space-between, $align: center) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($border-color: $primary) {
    border-width: 20px;
    border-left-style: solid;
    border-color: $border-color;
    padding-left: 20px;
    padding-bottom: 50px;
}