@import 'vars';
@import 'mixins';
@import 'basics';

// main header
.mainHeader {
    background: linear-gradient(rgba($black, .5), rgba($black, .5)), url(img/home-hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    span {
        color: $accents;
    }
    p {
        font-size: 20px;
    }
}

// intro
.intro {
    background: $secondary;
    padding-top: 150px;
    .wrapper {
        flex: 0 0 30%;
        background: $lightgGray;
        padding: 50px;
        h3 {
            font-size: 40px;
        }
        .icon {
            width: 145px;
            height: 145px;
            line-height: 145px;
            background: $primary;
            margin-top: -130px;
            img {
                width: 50%;
            }
        }
    }
}

// kursevi
.kursevi {
    background: $lightgGray;
    .uvod {
        @include flex($align: flex-start);
        border-left: 20px solid $primary;
        padding-left: 20px;
        h2 {
            flex: 0 0 40%;
        }
        p {
            flex: 0 0 60%;
        }
    }
    .lista-kurseva {
        color: $white;
        @include flex;
        .kurs {
            flex: 0 0 30%;
            margin-bottom: 60px;
            img {
                width: 100%;
                display: block;
            }
            .tekst {
                border-left: 10px solid $accents;
                background: $secondary;
                padding: 50px 30px;
                position: relative;
                h3 {
                    margin-bottom: 60px;
                }
                a {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    color: $accents;
                    font-size: 2rem;
                }
                span {
                    background: $lightgGray;
                    border-radius: 100%;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: $primary;
                    text-align: center;
                    width: 75px;
                    height: 75px;
                    line-height: 20px;
                    padding-top: 10px;
                    b {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

// o nama
.onama {
    background: $secondary;
    color: $white;
    h2 {
        border-left: 20px solid $accents;
        padding-bottom: 50px;
        padding-left: 30px;
        margin-bottom: 80px;
    }
}
.tehnologije {
    background: $lightgGray;
    color: $black;
    @extend .onama;
    .col-md-5 {
        p {
            font-size: 26px;
        }
    }
    .col-md-7 {
        background: $secondary;
        padding: 60px;
        h3 {
            font-size: 40px;
            padding-bottom: 70px;
        }
        ul {
            line-height: 2;
            a {
                font-size: 30px;
                color: $accents;
                text-decoration: none;
            }
        }
    }
}

// blog
.blog {
    background: $secondary;
    .row:first-child {
        border-left: 20px solid $accents;
        padding-left: 20px;
        h2 {
            flex: 0 0 35%;
        }
        p {
            flex: 0 0 60%;
        }
    }
    .row:last-child {
        padding-top: 100px;
        .text {
            background: $white;
            padding: 30px;
            h3 {
                color: $accents;
            }
            .btn {
                width: 50%;
                display: block;
                margin: auto;
            }
        }
    }
}